{% extends "accounts/layout.html" %}
{% block static %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/edit.css' %}">
{% endblock %}

{% block content %}
{% for user,count in alluser %}
<div class="user">
<a href="{% url 'userpage' user.username %}">
<img src="{% if user.profile_owner.get.pro_image %}{{user.profile_owner.get.pro_image.thumbnail.url}}{% else %}/media/images/def_thumbnail.jpg{% endif %}">
<p>{{user.username}}</p>
</a>
{% if count > 0 %}
<p class="follow">フォロー中</p>
{% elif count < 0 %}
<p></p>
{% else %}
<a class="follow" href="{% url 'followtry' user.username %}">フォローする</a>
{% endif %}
</div>
<hr>
{% endfor %}
{% endblock %}
