{% extends "accounts/layout.html" %}
{% block static %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/edit.css' %}">
<script type="text/javascript">
     $(document).ready(function(event){
     $(document).on('click', '.follow', function(event){
            event.preventDefault();
            var username = $(this).attr('value');
            $.ajax({
            type: 'POST',
            url: '{% url 'followtry' %}',
            data: {'username': username, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
            dataType: 'json',
            context: this,
           })
           .done(function(data){
               $(this).toggleClass('edbutton');
               $(this).toggleClass('button');
               if($(this).hasClass('edbutton')){
                   $(this).text('フォロー中');
               }else{
                   $(this).text('フォローする');
               }
           })
           .fail(function(data){
               console.log("fail");
           })
     });
});
 </script>
{% endblock %}

{% block content %}
<h3>All Users</h3>
{% for user,count in alluser %}
<div class="user">
<a class="username" href="{% url 'userpage' user.username %}">
<img class="thumbnail" src="{% if user.profile_owner.get.pro_image %}{{user.profile_owner.get.pro_image.thumbnail.url}}{% else %}/media/images/def_thumbnail.jpg{% endif %}">
<p>{{user.username}}</p>
</a>
{% if count > 0 %}
<button type="submit" class="follow edbutton" name="username" value="{{ user.username }}">フォロー中</button>
{% elif count < 0 %}
<p></p>
{% else %}
<button type="submit" class="follow button" name="username" value="{{ user.username }}">フォローする</button>
{% endif %}
</div>
<hr>
{% endfor %}
{% endblock %}
