{% extends "accounts/layout.html" %}
{% block static %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/edit.css' %}">
<script type="text/javascript">
     $(document).ready(function(event){
     $(document).on('click', '.follow', function(event){
            event.preventDefault();
            var username = $(this).attr('value');
            $.ajax({
            type: 'POST',
            url: '{% url 'followtry' %}',
            data: {'username': username, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
            dataType: 'json',
            context: this,
           })
           .done(function(data){
               $(this).toggleClass('edbutton');
               $(this).toggleClass('button');
               if($(this).hasClass('edbutton')){
                   $(this).text('フォロー中');
               }else{
                   $(this).text('フォローする');
               }
           })
           .fail(function(data){
               console.log("fail");
           })
     });
});
 </script>
{% endblock %}

{% block content %}
<div>
<a class="username" href="{% url 'userpage' focususer.username %}">
<img class="thumbnail" src="{% if focususer.profile_owner.get.pro_image %}{{focususer.profile_owner.get.pro_image.thumbnail.url}}{% else %}/media/images/def_thumbnail.jpg{% endif %}">
<p>{{focususer.username}}</p>
</a>
{% if count > 0 %}
<button type="submit" class="follow edbutton" name="username" value="{{ focususer.username }}">フォロー中</button>
{% elif count < 0 %}
<p></p>
{% else %}
<button type="submit" class="follow button" name="username" value="{{ focususer.username }}">フォローする</button>
{% endif %}
</div>

<div class="tab">
    <span {% if flag == 0 %}class="underline"{% endif %}>
        {% if flag > 0 %}<a class="username" href="{% url 'followers' focususer.username %}">フォロワー</a>
        {% else %}フォロワー
        {% endif %}
    </span>
    <span {% if flag > 0 %}class="underline"{% endif %}>
        {% if flag == 0 %}<a class="username" href="{% url 'following' focususer.username %}">フォロー中</a>
        {% else %}フォロー中
        {% endif %}
    </span>
</div>
{% for user,count in follow %}
{% if flag > 0 %}
<div>
<a class="username" href="{% url 'userpage' user.followed.username %}">
<img class="thumbnail" src="{% if user.followed.profile_owner.get.pro_image %}{{user.followed.profile_owner.get.pro_image.thumbnail.url}}{% else %}/media/images/def_thumbnail.jpg{% endif %}">
<p>{{user.followed.username}}</p>
</a>
{% if count > 0 %}
<button type="submit" class="follow edbutton" name="username" value="{{ user.followed.username }}">フォロー中</button>
{% elif count < 0 %}
<p></p>
{% else %}
<button type="submit" class="follow button" name="username" value="{{ user.followed.username }}">フォローする</button>
</div>
{% endif %}
{% else %}
<div>
<a class="username" href="{% url 'userpage' user.owner.username %}">
<img class="thumbnail" src="{% if user.owner.profile_owner.get.pro_image %}{{user.owner.profile_owner.get.pro_image.thumbnail.url}}{% else %}/media/images/def_thumbnail.jpg{% endif %}">
<p>{{user.owner.username}}</p>
</a>
{% if count > 0 %}
<button type="submit" class="follow edbutton" name="username" value="{{ user.owner.username }}">フォロー中</button>
{% elif count < 0 %}
<p></p>
{% else %}
<button type="submit" class="follow button" name="username" value="{{ user.owner.username }}">フォローする</button>
</div>
{% endif %}
{% endif %}
{% endfor %}
{% endblock %}
