{% extends "accounts/layout.html" %}
{% block static %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/edit.css' %}">
{% endblock %}

{% block content %}
<img src="{% if profile.pro_image %}{{user.profile_owner.get.pro_image.thumbnail.url}}{% else %}/media/images/def_thumbnail.jpg{% endif %}">
<p>{{user.username}}さんのユーザ情報</p>
<a class="edit" href="{% url 'edit' %}">編集</a>
<table class="table">
    <tbody>
        <tr>
            <th>ユーザID</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>メール<br>アドレス</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>名前</th>
            <td>{% if profile.name %}{{profile.name}}
                {% else %}名前が設定されていません{% endif %}</td>
        </tr>
        <tr>
          <th>自己紹介文</th>
          <td>{% if profile.profile_text %}{{profile.profile_text}}
              {% else %}自己紹介文が設定されていません{% endif %}</td>
        </tr>
    </tbody>
</table>

<a class="edit" href="{% url 'passwordchange' %}">パスワードの変更</a>

{% endblock %}
