{% extends 'accounts/layout.html' %}
{% block static %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/edit.css' %}">
<script type="text/javascript" src="{% static 'accounts/js/imageshow.js' %}" ></script>
{% endblock %}

{% block content %}
<h3>新規投稿</h3>
<form enctype="multipart/form-data" action="{% url 'detail' %}" method="POST">
    <!--ユーザーテーブルの入力フォーム-->
    {% for field in imageform %}
    <div class="form-group">
        {{ field }}
        {{ field.help_text }}
        {{ field.errors }}
    </div>
    <hr>
    {% endfor %}
    {% csrf_token %}
    <input type="hidden" name="mode" value="__image__">
    <button type="submit" class="btn btn-primary btn-lg">次へ</button>
</form>
{% endblock %}
