{% extends "accounts/layout.html" %}
{% block static %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/edit.css' %}">
<script type="text/javascript">
     $(document).ready(function(event){
     $(document).on('click', '.mfb', function(event){
            event.preventDefault();
            var username = $(this).attr('value');
            $.ajax({
            type: 'POST',
            url: '{% url 'followtry' %}',
            data: {'username': username, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
            dataType: 'json',
            context: this,
           })
           .done(function(data){
               $(this).toggleClass('edmyfollow');
               $(this).toggleClass('myfollow');
               $(this).toggleClass('myfollowa');
               if($(this).hasClass('edmyfollow')){
                   $(this).text('フォロー中');
               }else{
                   $(this).text('フォローする');
               }
           })
           .fail(function(data){
               console.log("fail");
           })
     });
});
 </script>
{% endblock %}

{% block content %}
<h3>{{user.username}}</h3>

<div class="user">
<img class="thumbnail" src="{% if user.profile_owner.get.pro_image %}{{user.profile_owner.get.pro_image.thumbnail.url}}{% else %}/media/images/def_thumbnail.jpg{% endif %}">
<div class="verwrap">
    <p>
    <a class="weight" href="{% url 'following' user.username %}">{{followingcount}}</a></p>
    <p class="mypgfollow">フォロー中</p>
</div>
<div class="verwrap">
    <p>
    <a class="weight" href="{% url 'followers' user.username %}">{{followercount}}</a></p>
    <p class="mypgfollow">フォロワー</p>
</div>
</div>
<p>
{% if user.profile_owner.get.name %}
{{user.profile_owner.get.name}}
</p>
{% endif %}
<div class="profile">
    {% if user.profile_owner.get.profile_text %}
    {{user.profile_owner.get.profile_text}}
    {% endif %}
</div>

{% if count > 0 %}
<button type="submit" class="mfb edmyfollow" name="username" value="{{ user.username }}">フォロー中</button>

{% elif count < 0 %}
<p></p>
{% else %}
<button type="submit" class="mfb myfollow myfollowa" name="username" value="{{ user.username }}">フォローする</button>
{% endif %}
<div class="userposts">
{% for mess in usermessages %}
<img class="mypgmess" src="{{mess.image.large.url}}">
{% endfor %}
</div>
{% endblock %}
