h3{
    text-align: center;
    border-top: solid 3px;
    border-bottom: solid 3px;
    padding-top: 1px;
    padding-bottom: 2px;
}
p{
  display:inline-block;
  margin-bottom: 5px;
}
.edit{
  float:right;
}
.mypage{
  font-weight: 800;
  padding: 12px;

}
table.table{
  margin:0;
  border-bottom: 1px solid #dee2e6;
  font-size: 11pt;
}
/*プロフィール画像を丸く見せる*/
img.thumbnail{
    border-radius: 50%;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 60px;
    height: 60px;
}
.follow{
    float: right;
    margin-top: 10px;
}
hr{
    margin-top: 3px;
    margin-bottom: 3px;
}
/*ユーザごとのページにおいて，フォロワーと数を縦に並べる*/
/* userpage.html */
.verwrap{
    display: flex;
    flex-direction: column;
    float: right;
    text-align: center;
    margin-left: 20px;
}
.mypgfollow{
    font-size: 12px;
}
.weight{
    font-weight: bold;
}
/*個人ごとのページのフォローボタン*/
.myfollow{
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    padding: 10px 10px;
    background: #007fff;
    line-height: 1em;
    transition: .3s;
    border: 2px solid #007fff;
    width: 100%;
}
.myfollowa{
    color: #ffffff;
}
.edmyfollow{
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    padding: 10px 10px;
    background: #ffffff;
    color: #007fff;
    line-height: 1em;
    transition: .3s;
    border: 2px solid #007fff;
    width: 100%;
}
a.weight{
    color: black;
}
a.username{
    color: black;
}
/*****************/
/*フォロー中，フォローするボタンのスタイル*/
/* follow.html */
.button{
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    padding: 12px 12px;
    background: #007fff;
    color: #ffffff;
    line-height: 1em;
    transition: .3s;
    border: 2px solid #007fff;
    width: 124px;
}
.edbutton{
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    padding: 12px 12px;
    background: #ffffff;
    color: #007fff;
    line-height: 1em;
    transition: .3s;
    border: 2px solid #007fff;
    width: 124px;
}
.tab span{
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    width: 50%;
    float: left;
    text-align: center;
    border-bottom: 3px solid #ddd;
}
span.underline{
    border-bottom: 3px solid black;
}
/*******************/
/* postdetail.html */
.postimage{
    text-align: center;
}
img.confimage{
    width: 180px;
    height: 180px;
    margin-bottom: 10px;
}
.cancel a{
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    padding: 5px 5px;
    background: #ffffff;
    color: #007fff;
    line-height: 1em;
    transition: .3s;
    border: 2px solid #007fff;
    width: 124px;
}
div.cancel{
    margin-top: 10px;
    margin-bottom: 15px;
}
/*******************/
/* postcreate.html */
div.preview{
    margin-top: 10px;
    text-align: center;
}
img.preimage{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
img.mainimage{
    width: 100%;
}
/******************/
